<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 px-lg-4">
        <div class="card">
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Добро пожаловать!</h3>

            <form class="mb-4" [formGroup]="loginForm" (submit)="onLogin()">
              <div class="form-floating mb-3">
                <input
                  formControlName="login"
                  class="form-control"
                  id="labelLogin"
                  placeholder="example_login">
                <label for="labelLogin">Логин</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  formControlName="password"
                  class="form-control"
                  id="labelPassword"
                  type="password"
                  placeholder="Password">
                <label for="labelPassword">Пароль</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label" for="remember">Запомнить меня</label>
              </div>

              <div class="mx-0 row justify-content-between align-items-center">
                <button class="col-4 btn btn-primary btn-lg" type="submit" [disabled]="isLoading">Отправить</button>
                <div *ngIf="(remainingLockTime$ | async) as remainingTime"
                     class="col-6 text-lg">
                  Разблокировка через: {{remainingTime}}
                </div>
              </div>
            </form>

            <ng-container *ngIf="(loginResult$ | async) as loginResult">
              <ng-container *ngIf="loginResult.success; else errorTemplate">
                <h5>Вы авторизовались как {{loginResult.result?.login}}.</h5>
              </ng-container>
              <ng-template #errorTemplate>
                Ошибка: {{loginResult.errors}}
              </ng-template>
            </ng-container>
          </div>

          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Ещё нет аккаунта? <a href="register.html">Зарегистрироваться</a>.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
